<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>
    <link rel="stylesheet" href="/css/materialize.css">
</head>

<body class="blue lighten-2" style="display: flex;justify-content: center;align-items: center;">
    <div class="card center-align">
        <div class="card-body">
            <h1>Error!</h1>
            <h2>
                <% if (message !='undefined' ) { %>
                    <%= message %>
                        <% } %>
            </h2>
        </div>
    </div>
</body>

</html>