<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Videobit and Enjoy Free Video conferencing, Web conferencing, Webinars - Videobit</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/lib/fontawesome/css/all.min.css">
</head>

<body class="indigo lighten-5">

    <div class="mini-container">
        <div class="card">
            <div class="card-content">
                <div class="logo-heading">
                    <img src="/img/logo.png" alt="">
                </div>
                <div class="divider" style="margin: 1rem 0 0.6rem 0;"></div>
                <p class="center-align" style="font-size: 16px;">Signup/Login With Soical Accounts</p>
                <div class="soical-btns">
                    <a href="/auth/google" class="btn-floating waves-effect btn-large red darken-2"><i class="fab fa-google-plus-g"></i></a>
                    <a href="/auth/facebook" class="btn-floating waves-effect btn-large blue darken-3"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>




    <!-- Feather Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" integrity="sha512-7x3zila4t2qNycrtZ31HO0NnJr8kg2VI67YLoRSyi9hGhRN66FHYWr7Axa9Y1J9tGYHVBPqIjSE1ogHrJTz51g==" crossorigin="anonymous"></script>
    <!-- Materialize Javascript -->
    <script src="/js/materialize.min.js"></script>
</body>

</html>